@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.video-player {
  max-width: 900px;
  width: 100%;
  background-color: #000;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.player-info {
  margin-top: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  color: #bbb;
}

a {
    text-decoration: none;
}